/*IMPORTS*/
/*MOCELANEOUS*/
/*RESET*/
*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: inherit; }

/*body {
    min-height: 100vh;
}*/
/* partials*/
.header {
  color: #000000; }
  .header__menu {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000; }
  .header__item:hover {
    border-color: #000000;
    transition: border-color .4s ease-in-out; }
  .header__item {
    border: 0.2rem solid #FFFFFF; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }

.footer__ul {
  background: linear-gradient(to right top, #000000, #292524, #4c4541, #6e6a5f, #8d9283);
  color: white;
  min-height: 10vh;
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  list-style-type: none;
  align-items: center;
  max-width: 100%;
  gap: 5rem; }

/*VIEWS*/
.inicio__titulo {
  color: red;
  text-align: center;
  font-size: 6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.foto___inicio {
  min-width: 320px;
  margin-left: 500px;
  width: 55%;
  transform: scaleX(1.5);
  max-width: 100%; }

.ul__principal {
  font-size: 2em; }

.principal__inicio {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .principal__inicio .izq {
    grid-column: 1 / 3;
    margin-left: 10rem; }
  .principal__inicio .der {
    grid-column: 3 / 4; }

@media screen and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: start; }
  .header__menu {
    font-size: 2rem; }
  main {
    max-width: 480px; }
  .foto___inicio {
    margin-left: 200px;
    max-width: 100%; }
  .ul__principal {
    font-size: 2em; }
  .principal__inicio {
    display: flex;
    flex-wrap: wrap; }
  footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.6em; } }

.qs__titulo {
  color: red;
  text-align: center;
  font-size: 6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.qs {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5em; }

.servicios__titulo {
  color: red;
  text-align: center;
  font-size: 6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.sv__letra {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5em; }

.margint {
  margin-top: 5rem; }

.tarifario__titulo {
  color: red;
  text-align: center;
  font-size: 6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.letra {
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.main_tari {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.izqui {
  grid-column: 2 / 3; }

.dere {
  grid-column: 4 / 5; }

.contacto__titulo {
  color: red;
  text-align: center;
  font-size: 6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.contacto__main {
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

form {
  background-color: #e4dcdc;
  padding: 4rem;
  max-width: 800px;
  text-align: left; }

form input {
  padding: 2rem;
  margin-top: 2rem; }

form input:focus {
  outline: none; }

.input__mensaje {
  padding: 8rem;
  width: 32rem; }

.input__telefono {
  width: 32rem; }

.input__mail {
  margin-left: 5.5rem; }
