/*RESET*/

/**,
*::before
*::after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GLOBALS*/

/*html {
    font-size: 62.5%;
    font-family: $primary;

    }


a {
    text-decoration: none;
    color: inherit;
    }






body {
    min-height: 100vh;
}


/*.header {
    background: whitesmoke;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

header .header__item {
    border: 0.2rem solid $primary;

}

.header__menu .header__item:hover {
    border-color:var(--Secondary) ;
    transition: border-color .4s ease-in-out;
    
}

.header__menu {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
*/

/*INICIO MAIN*/


/*.inicio__titulo {
    color: red;
    text-align: center;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.foto___inicio {
    min-width: 320px;
    margin-left: 500px;
    width: 55%;
    transform: scaleX(1.5);
        
}
section .principal__inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

ul .principal__servicios {
    font-size: 6em;
}

ul .principal__item {
    font-size: 2.5em;
}

.izq {
    grid-column: 1 / 3;
    margin-left: 10rem;
}

.der {
    grid-column: 3 / 4;
}
*/

/*QUIENES SOMOS*/
/*.qs__titulo {
    color: red;
    text-align: center;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


.qs {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5em;
*/

/*SERVICIOS*/

/*.servicios__titulo {
    color: red;
    text-align: center;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sv__letra {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5em;
}

.margint {
    margin-top: 5rem;
}
*/

/*TARIFARIO*/

/*.tarifario__titulo {
    color: red;
    text-align: center;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.letra {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.main_tari {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.izqui {
    grid-column: 2 / 3;
}

.dere {
    grid-column: 4 / 5;
}
*/

/*CONTACTO*/

/*.contacto__titulo { color: red;
    text-align: center;
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.main__contacto {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*/

/*FOOTER*/

/*.footer__ul{
    background: linear-gradient(to right top, #000000, #292524, #4c4541, #6e6a5f, #8d9283);
    color: white;
    min-height: 10vh;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 60rem;

    
    }
    */


    /*RESPONSIVE*/
    @media screen and (min-width: 480px) and (max-width: 768px) {
    
  
        
    }
































/*VARIABLES*/
/*:root {
    --Secondary: #000000;
    --Primary: #FFFFFF;
    --font-primary: Arial, Helvetica, sans-serif;
    --text-md: 2em;
    --text-lg: 2em; 

}
*/





