.footer__ul{
    background: linear-gradient(to right top, #000000, #292524, #4c4541, #6e6a5f, #8d9283);
    color: white;
    min-height: 10vh;
    font-size: map-get($font-size, medium);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 100%;
    gap: 5rem;
}