.footer__ul{
    color: red;
    min-height: 10vh;
    font-size: map-get($font-size, medium);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    max-width: 100%;
    gap: 5rem;
}