.header {
    color: #000000;
    



    &__menu {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    font-size: map-get($font-size, medium);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;}
    

    &__item:hover {
        border-color: map-get($dark-theme  ,secondary );
        transition: border-color .4s ease-in-out;
    }

    
    &__item {
        @extend .header__item;
    border: 0.2rem solid $principal;
    }
}
    .navbar {
        @include flex (row, space-around, center, 2rem)}
    

