.qs__titulo {
    color: red;
    text-align: center;
    font-size: map-get($font-size, XL );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


.qs {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: map-get($font-size, medium )
}

@media screen and (max-width: 480px) {
    
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        
       }
       .header__menu {
        font-size: 2rem;
       }

       .foto___inicio {
        margin-left: 200px;
        max-width: 100%;
    }

       main {
        max-width: 480px ;
       }
       
       .qs__item {
           font-size: 1em;
       }
    
    }