.tarifario__titulo {
    color: red;
    text-align: center;
    font-size: map-get($font-size, XL );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    .letra {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }

    .main_tari {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    }

    .izqui {
    grid-column: 2 / 3;
    }

    .dere {
    grid-column: 4 / 5;
    }
 
}